:host {
    display: block;
    height:20px;
    border: 1px solid red;
}

:host .active {
    color:red;
}

:host a {
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

:host a:hover {
    color:blue;
}