:host {
    /* display: block; */
    display: flex;
    justify-content: space-around;
    height:20px;
    padding: 20px;
    background-color: #009cb3;
    margin-bottom: 30px;
}

:host .active {
    text-decoration: underline;
}

:host a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

:host a:hover {
    color:rgb(0, 87, 36);
}