.navbar {
    height:20px;
    border: 1px solid red;
}

.navbar a {
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navbar a:hover {
    color:blue;
}
