:host {
    display: flex;
    justify-content: space-around;
    height:20px;
    padding: 20px;
    background-color: #009cb3;
    margin-bottom: 30px;

    .active{
        text-decoration: underline;
    }

    a {
        font-size: 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        border-radius: 5px;

        &:hover{
            color:rgb(0, 87, 36);
        }
    }
}