.buttons {
    color:red;
    text-align: center;
    padding: 20px;
}

.card-back {
    background-image: url("./../../../assets/pictures/cardBack.jpg");
    background-repeat: no-repeat;
    border:1px solid black;
    border-radius: 15px;
}

.done {
    background-image: url("./../../../assets/pictures/done.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}



.table-area{
    width: 100%;
    height: 700px;
    border-spacing: 10px;
}