<div class="buttons">
    <button [disabled]="gameOn" (click)="startGame()">Play</button>
    <button [disabled]="!gameOn" (click)="stopGame()">Quit</button>
</div>


<table class="table-area" [hidden]="!gameOn">
    <tbody>
        <tr *ngFor="let row of rows">
            <td *ngFor=" let column of columns" class="card-back" (click)="checkCard($event);"
                attr.cell-number="{{cells[column+row*columns.length]}}" attr.in-game='{{"true"}}'
                attr.data-value='{{imagesSrcs[column+row*columns.length].num}}'>
            </td>
        </tr>
    </tbody>
</table>