<div class="buttons">
    <button [disabled]="gameOn" (click)="startGame()">Play</button>
    <button [disabled]="!gameOn" (click)="stopGame()">Quit</button>
</div>


<table class="table-area" [hidden]="!gameOn">
    <tbody>
        <tr *ngFor="let column of columns">
            <td *ngFor=" let row of rows" class="card-back" (click)="checkCard($event);"
                attr.cell-number="{{cells[row+column*rows.length]}}" attr.in-game='{{"true"}}'
                attr.data-value='{{imagesSrcs[row+column*rows.length][1]}}' style=" width:{{100/rows.length}}%;">
            </td>
        </tr>
    </tbody>
</table>