<div class="buttons">
    <button [disabled]="gameOn" (click)="startGame()">Play</button>
    <button [disabled]="!gameOn" (click)="stopGame()">Quit</button>
</div>
<!-- <table [hidden]="!gameOn">
    <tbody>
        <tr *ngFor="let item of items">
            <td *ngFor="let list of item">{{list}}</td>
        </tr>
    </tbody>
</table> -->

<table style="width: 100%;" [hidden]="!gameOn">
    <tbody>
        <tr *ngFor="let column of columns">
            <td *ngFor="let row of rows"><img
                    src='{{ imagesSrcs? imagesSrcs[rows?row+column*rows.length:0][0] : "" }}' /></td>
        </tr>
    </tbody>
</table>